:root{
    --teal: rgb(146, 204, 205);
    --background: rgb(49,52,61);
    --blue: rgb(68,88,116);
}

body{
    background-color: rgb(237, 237, 246);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    background: var(--background);
    
}

h1 {
    margin-right: auto;
    /* display: inline-block; */
    font-size: 30px;
    border: 10px solid var(--teal); 
    background-color: var(--teal);
    color: var(--background);
}

 .nav {
    padding-right: 28px;
    margin-top: 24px;
    display: inline-block;
    list-style-type: none;
    color: var(--teal);
}

 .nav a{
    font-size: 20px;
    color: var(--teal);
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 15px;
}

.subtitle {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/beach.jpg");
    background-size: cover;
    background-position: center;
}

.subtitle > p{
    margin-top: 109px;
    float: right;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    border: 10px solid var(--teal); 
    background-color: var(--teal);
    color: var(--background);
}

.content{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.content  h2, h3, h4{
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--blue);
    font-size: 1.5rem;
    line-height: 1.2;

}

.content div {
    flex: 0 0 70%;
    padding-left: 15px;
}

.content p {
    margin-bottom: 20px;
    color: var(--blue);
}

 .surf {  

    padding-left: 15px;
    background-image: url("./images/SURF.jfif");
    background-size: cover;
    height: 200px;
    justify-content: flex-start;
    border: 2px solid var(--teal); 
    
}

.surf p{
    
    margin-right: 771px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border: 10px solid var(--teal); 
    background-color: var(--teal);
    color: var(--background);
    

}

 /* .calculator{
    background-image: url("./images/calculator.jfif");
    background-size: cover;
    border: 2px solid var(--teal);
}  */

.content address a{
    color: var(--blue);
    padding-right: 15px;
    
}
